@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
.project-card--1 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--1 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--1 {
    grid-column: span 2;
  }
}

.project-card--2 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--2 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--2 {
    grid-column: span 2;
  }
}

.project-card--3 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--3 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--3 {
    grid-column: span 2;
  }
}

.project-card--4 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--4 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--4 {
    grid-column: span 2;
  }
}

.project-card--5 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--5 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--5 {
    grid-column: span 2;
  }
}

.project-card--6 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--6 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--6 {
    grid-column: span 2;
  }
}

.project-card--7 {
  grid-column: span 6;
}
@media (min-width: 576px) {
  .project-card--7 {
    grid-column: span 3;
  }
}
@media (min-width: 1260px) {
  .project-card--7 {
    grid-column: span 2;
  }
}

.container, .coming-soon, .project-card, #about {
  background-color: #fcf1de;
  border-radius: 10px;
  color: #4d4d4d;
  box-shadow: 0 0 20px 5px rgba(212, 197, 174, 0.8);
}

#contactform {
  background-color: #4d4d4d;
  border-radius: 10px;
  color: #fcf1de;
  box-shadow: 0 0 20px 5px rgba(28, 28, 28, 0.4);
}

a, button, strong {
  text-decoration: none;
}
a:hover, button:hover, strong:hover {
  cursor: pointer;
}

strong:hover {
  color: #d92f0d;
}

body {
  margin: 0;
  font-family: "Libre Baskerville", sans-serif;
  background-color: #f0e4cc;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}

.sidebar {
  display: none;
  position: fixed;
  width: 200px;
  height: 100%;
  padding-top: 20px;
  color: #f0e4cc;
}
@media (min-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
  }
}
@media (min-width: 2000px) {
  .sidebar {
    width: 300px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .main-content {
    margin-left: 200px; /* Same as sidebar width */
  }
}
@media (min-width: 2000px) {
  .main-content {
    margin-left: 300px; /* Same as sidebar width */
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

#about, #projects, #contactform, .container {
  margin: 120px 20px 0;
}
@media (min-width: 768px) {
  #about, #projects, #contactform, .container {
    max-width: 478px;
  }
}
@media (min-width: 992px) {
  #about, #projects, #contactform, .container {
    max-width: 702px;
  }
}
@media (min-width: 1260px) {
  #about, #projects, #contactform, .container {
    max-width: 970px;
  }
}

@media (min-width: 1600px) {
  #about, #projects, #contactform {
    max-width: 1310px;
  }
}

.sidebar h2, .sidebar .list--bordered {
  border-top: 3px solid #f75931;
  border-bottom: 3px solid #f75931;
  padding: 25px;
  margin: 25px;
}
.sidebar a {
  color: #f0e4cc;
  padding: 12px 16px;
}
.sidebar a:hover {
  background-color: #f75931;
}
.sidebar .initials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 30px;
  border-radius: 50%;
  border: 4px solid #d92f0d;
  font-size: 4rem;
}
.sidebar .initials:hover {
  background-color: #d92f0d;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.menu button {
  padding: 18px 19px 20px;
  margin: 20px;
  background-color: #c22a0c;
  border: none;
  border-radius: 10px;
}
.menu button i {
  color: #f0e4cc;
  font-size: 3rem;
}
.menu button:active {
  transform: scale(0.9);
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a {
  padding: 10px 13px;
}
.social-links a:hover {
  background-color: inherit;
}
.social-links a .icon {
  font-size: 2rem;
}
.social-links a .icon-discord {
  font-size: 2.2rem;
}
.social-links .discord {
  margin-top: 4px;
}

.icon-linkedin:hover {
  color: #0a66c2;
}
.icon-github:hover {
  color: #8d32ab;
}
.icon-discord:hover {
  color: #5764f2;
}

.hero img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero__txt {
  display: flex;
  flex-direction: column;
  height: 85%;
  text-align: center;
  z-index: 2;
  margin: 30px;
  color: #fff6dd;
}
.hero__txt--main {
  background-color: rgba(125, 117, 105, 0.7);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 48px;
  box-shadow: 0 0 10px 7px rgba(125, 117, 105, 0.8);
}
@media (min-width: 992px) {
  .hero__txt--main h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1260px) {
  .hero__txt--main h1 {
    font-size: 4.25rem;
  }
}
@media (min-width: 1600px) {
  .hero__txt--main h1 {
    font-size: 5.5rem;
  }
}
@media (min-width: 992px) {
  .hero__txt--main h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1260px) {
  .hero__txt--main h2 {
    font-size: 2.15rem;
  }
}
@media (min-width: 1600px) {
  .hero__txt--main h2 {
    font-size: 2.5rem;
  }
}
.hero__txt--scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.hero__txt--scroll p {
  margin: 10px;
  color: #50483d;
  font-size: 2rem;
}
.hero__txt--scroll a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #50483d;
  border-radius: 50%;
}
.hero__txt--scroll a:hover {
  background-color: #d92f0d;
}
.hero__txt--scroll a i {
  padding-bottom: 8px;
  color: #fff6dd;
  font-size: 3rem;
}

.spacer {
  flex: 1;
}

#about h1, #about p {
  margin: 30px;
}
#about h1 {
  font-size: 2.5rem;
}
#about p {
  font-size: 1.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  grid-gap: 30px;
}

.project-card {
  position: relative;
}
.project-card--future {
  opacity: 0.3;
}
.project-card--test {
  transition: 0.3s ease;
  top: 0;
}
.project-card--test:hover {
  top: -10px;
}
.project-card .imgtag img {
  width: 100%;
  filter: sepia(0.9);
  border-radius: 10px 10px 0 0;
}
.project-card .tag {
  position: absolute;
  right: 0;
  top: 2%;
  color: #f0e4cc;
  padding: 0 10px;
  text-transform: uppercase;
  border-radius: 2px 0 0 2px;
  font-size: 1rem;
  line-height: 2;
  z-index: 2;
}
.project-card .tag--future {
  background-color: #d92f0d;
}
.project-card .content {
  padding: 20px;
}
.project-card .content h2 {
  margin-top: 0;
}

#contactform {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
@media (min-width: 1260px) {
  #contactform {
    flex-direction: row;
  }
}

.form {
  width: 100%;
}
.form p {
  margin: 0 20px 10px;
  text-align: center;
  font-size: 1.25rem;
}
@media (min-width: 1260px) {
  .form p {
    margin-top: 50px;
  }
}
.form__info {
  text-align: center;
  margin: 40px;
}
.form__info h1 {
  margin-top: 10px;
  font-size: 3rem;
}
.form__info p {
  margin: 20px 0 0;
  font-size: 1.5rem;
}
@media (min-width: 1260px) {
  .form__info h1 {
    margin-top: 25px;
  }
}
.form__availability {
  display: none;
}
@media (min-width: 1260px) {
  .form__availability {
    display: block;
    margin-top: 100px;
  }
  .form__availability h2 {
    font-size: 2rem;
  }
  .form__availability li {
    font-size: 1.4rem;
    text-align: left;
  }
}

form {
  display: flex;
  flex-direction: column;
}
form input, form textarea {
  padding: 10px;
  margin: 10px 40px;
  background-color: #fcf1de;
  border: none;
  border-radius: 4px;
  font: 1.25rem "Libre Baskerville", sans-serif;
  width: 200px;
  resize: none;
}
@media (min-width: 320px) {
  form input, form textarea {
    width: auto;
  }
}
form input::placeholder, form textarea::placeholder {
  color: #4d4d4d;
}
form input:focus-visible, form textarea:focus-visible {
  outline: none;
  border: 2px solid #d92f0d;
}
form button {
  padding: 10px 20px;
  margin: 20px 0 40px;
  background-color: #d92f0d;
  color: #fcf1de;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  align-self: center;
}
form button:hover {
  background-color: #f75931;
}
form button:active {
  transform: scale(0.9);
}

.coming-soon {
  padding: 20px;
  margin-top: 30vh;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 45px 20px 0;
  text-align: center;
}
.container__bottom {
  margin-bottom: 45px;
}
@media (min-width: 1260px) {
  .container {
    flex-direction: row;
    text-align: left;
  }
}

.image-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.image-wrapper img {
  width: 100%;
  filter: sepia(60%);
}
@media (min-width: 1260px) {
  .image-wrapper {
    margin-right: 20px;
  }
}

.content {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 1260px) {
  .content h1 {
    margin-top: 0;
  }
}
.content ul {
  list-style-position: inside;
  padding-left: 0;
}
.content ul, .content p {
  margin-bottom: 40px;
}
.content a {
  color: #4d4d4d;
  font-size: 1.25rem;
}
.content a:hover {
  color: #d92f0d;
}
.content .score {
  margin-bottom: 30px;
}
.content .score h2 {
  margin-bottom: 10px;
}
.content .score a {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
