//GRID LAYOUT

$cards: (
    project-card--1,
    project-card--2,
    project-card--3,
    project-card--4,
    project-card--5,
    project-card--6,
    project-card--7
);

@each $key in $cards {
    .#{$key} {
        grid-column: span 6;

        @include mq(sm) {
            grid-column: span 3;
        }

        @include mq(xl) {
            grid-column: span 2;
        }
    }
}