%light-container {
    background-color: $primary__color--light;
    border-radius: 10px;
    color: $primary__color--dark;
    box-shadow: 0 0 20px 5px rgba(212, 197, 174, 0.8);
}

%dark-container {
    background-color: $primary__color--dark;
    border-radius: 10px;
    color: $primary__color--light;
    box-shadow: 0 0 20px 5px rgba(28, 28, 28, 0.4);
}

%title {
    @include flex(row, center, center);
    flex-wrap: nowrap;
    color: $primary__color--dark;
    margin: 75px 0 0;
    font-size: 2.5rem;

    @include mq(sm) {
        font-size: 4rem;
    }

    .title {
        margin: 0 10px;
        flex-wrap: wrap;
        text-align: center;
        line-height: 2.5rem;

        @include mq(sm) {
            line-height: 4rem;
            margin: 0 15px;
        }
    }
}

%button {
    padding: 10px 20px;
    background-color: $primary__color--red;
    color: $primary__color--light;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    align-self: center;
    transition: background-color 0.4s ease;

    &:hover {
        background-color: $primary__color--lightred;
    }

    &:active {
        transform: scale(0.9);
    }
}