$primary__color: #f0e4cc;
$primary__color--light: #fcf1de;
$primary__color--dark: #4d4d4d;

$primary__color--red: #d92f0d;
$primary__color--lightred: #f75931;
$primary__color--darkred: #c22a0c;
$primary__color: #f0e4cc;

$text__color--hero: #fff6dd;
$image__hero--scroll: #50483d;

$linkedin: #0a66c2;
$github: #8d32ab;
$discord: #5764f2;