#about, #skills {
    @extend %light-container;
    @include flex(column, null, center);
    margin: 30px;
    width: 100%;

    h1 {
        font-size: 2.5rem;
        margin: 30px;
    }

    p, ul li {
        font-size: 1.25rem;
    }

    p {
        margin: 0 30px 30px;
    }
}

.logo {
    @include flex(null, center, center);
    font-size: 3rem;
    color: $primary__color--darkred;
    background-color: $primary__color--light;
    border: 3px solid $primary__color--dark;
    border-radius: 50%;
    margin: 60px 0 10px;
    @include size(200px, 200px);
}

.skills__icons {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;

    .skills__code {
        @include flex(column, center, center);
        gap: 10px;
        width: 120px;
        min-width: 120px;
        max-width: 120px;

        .icon {
            font-size: 4rem;
            color: $primary__color--dark;
            transition: color 0.3s ease;

            &:hover {
                color: $primary__color--red;
            }
        }
    }
}