// examples
.coding-examples {
    @include flex(column, center, center);
    gap: 75px;
    padding-bottom: 40px;

    h1 {
        @extend %title;
    }

    p {
        .link {
            color: $primary__color--lightred;


        }
    }

    .example {
        @include flex(column, center, center);
        gap: 10px;
        @extend %light-container;
        padding: 20px;
        width: 100%;
        text-align: center;

        @include mq(xxl) {
            width: 1300px;
        }

        h2 {
            margin: 0;

            @include mq(sm) {
                font-size: 2rem;
            }

            @include mq(xxl) {
                font-size: 2.5rem;
            }
        }

        p {
            line-height: $base-line-height;
            width: 100%;
        }

        
        .code-block {
            width: 100%;
            max-width: 100%;
            min-width: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center; /* center smaller code blocks */

            pre[class*="language-"] {
                @extend %dark-container;
                max-width: 100% !important;
                width: auto !important; /* shrink to content when possible */
                padding: 1rem !important;
                margin: 0 !important;
                overflow-x: auto !important; /* enable horizontal scroll inside pre */
            }
        }
    }
}