@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Libre Baskerville', sans-serif;
    background-color: $primary__color;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

//SIDEBAR

.sidebar {
    display: none;
    position: fixed;
    @include size(200px, 100%);
    padding-top: 20px;
    color: $primary__color;

    @include mq(md) {
        @include flex(column, center);
        background-color: $primary__color--dark;
    }

    @include mq(xxxl) {
        width: 300px;
    }
  }

//MAIN

.main-content {
    @include flex(column, center, center);

    @include mq(md) {
        margin-left: 200px; /* Same as sidebar width */
    }

    @include mq(xxxl) {
        margin-left: 300px; /* Same as sidebar width */
    }
  }

//HERO IMG 

.hero {
    @include flex(null, center, center);
    @include size(100%, 100vh);
    position: relative;
}

//CONTAINER MQ

#about, #projects, #contactform, .container {
    margin: 120px 20px 0;

    @include mq(md) {
        max-width: 478px;
    }

    @include mq(lg) {
        max-width: 702px;
    }

    @include mq(xl) {
        max-width: 970px;
    }
}

#about, #projects, #contactform {
    @include mq(xxl) {
        max-width: 1310px;
    } 
}