//BACKGROUND
#contactform {
    @include flex(column);
    @extend %dark-container;
    margin-bottom: 120px;

    @include mq(xl) {
        flex-direction: row;
    }
}
    
//CONTACT AND AVAILABILITY

.form {
    width: 100%;
    
    p {
        margin: 0 20px 10px;
        text-align: center;
        font-size: 1.25rem;
        

        @include mq(xl) {
            margin-top: 50px;
        }
    }

    &__info {
        text-align: center;
        margin: 40px;

        h1 {
            margin-top: 10px;
            font-size: 3rem;
        }

        p {
            margin: 20px 0 0;
            font-size: 1.5rem;
        }

        @include mq(xl) {
            h1 {
                margin-top: 25px;
            }
        }
    }

    &__availability {
        display: none;

        @include mq(xl) {
            display: block;
            margin-top: 100px;

            h2 {
                font-size: 2rem;
            }

            li {
                font-size: 1.4rem;
                text-align: left;
            }
        }
    }
}

//FORM ITSELF

form {
    @include flex(column);

    input, textarea {
        @include spacing(10px, 10px 40px);
        background-color: $primary__color--light;
        border: none;
        border-radius: 4px;
        font: 1.25rem 'Libre Baskerville', sans-serif;
        width: 200px;
        resize: none;

        @include mq(xxs){
            width: auto;
        }

        &::placeholder {
            color: $primary__color--dark;
        }

        &:focus-visible {
            outline: none;
            border: 2px solid $primary__color--red;
        }
    }

    button {
        @include spacing(10px 20px, 20px 0 40px);
        background-color: $primary__color--red;
        color: $primary__color--light;
        font-size: 1.5rem;
        border: none;
        border-radius: 4px;
        align-self: center;

        &:hover {
            background-color: $primary__color--lightred;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}