@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $primary__color;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

// apply base line-height to common text elements
p, li, input, textarea, button {
    line-height: $base-line-height;
}

//SIDEBAR

#sidebar {
    left: -200px;
    position: fixed;
    @include flex(column, center);
    @include size(200px, 100%);
    padding-top: 30px;
    color: $primary__color;
    background-color: $primary__color--dark;
    transition: left 0.6s ease;
    z-index: 10;

    &.open {
        left: 0; // slide in 
    }

    @include mq(md) {
        left: 0;
        transition: none;
    }

    @include mq(xxxl) {
        width: 300px;
    }  
}

//MAIN

#main-content {
    @include flex(column, center, center);
    min-height: 100vh;
    opacity: 1;
    transition: opacity 0.6s ease;
    will-change: opacity; // helps smooth GPU rendering

    &.fade-out {
        opacity: 0;
    }

    &.fade-in {
        opacity: 1;
    }

    @include mq(md) {
        margin-left: 200px; // Same as sidebar width 
    }

    @include mq(xxxl) {
        margin-left: 300px; // Same as sidebar width 
    }
}

//HERO IMG 

.hero {
    @include flex(null, center, center);
    @include size(100%, 100vh);
    position: relative;
}

//PROJECTS AND CONTACT FORM

#projects, #contactform {
    margin: 120px 30px 0;
}

//CONTAINER MQ

#about, #skills, #projects, #contactform, .container, #extrainfo, .cards, .coding-examples {

    @include mq(xxs) {
        /* ensure the block doesn't overflow on very small screens */
        max-width: calc(100% - 60px);
    }

    @include mq(sm) {
        max-width: 478px;
    }

    @include mq(lg) {
        max-width: 702px;
    }

    @include mq(xl) {
        max-width: 970px;
    }
}

#about, #skills, #projects, #contactform, #extrainfo, .cards, .coding-examples {
    @include mq(xxl) {
        max-width: 1310px;
    } 
}