.hero {
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__txt {
        display: flex;
        flex-direction: column;
        height: 85%;
        text-align: center;
        z-index: 2;
        margin: 30px;
        color: #fff6dd;

        &--main {
            background-color: rgba(125, 117, 105, 0.7);
            backdrop-filter: blur(10px);
            padding: 30px;
            border-radius: 48px;
            box-shadow:  0 0 10px 7px rgba(125, 117, 105, 0.7);
            

            h1 {
                @include mq(lg) {
                    font-size: 3rem;
                }

                @include mq(xl) {
                    font-size: 4.25rem;
                }

                @include mq(xxl) {
                    font-size: 5.5rem;
                }
            }

            h2 {
                @include mq(lg) {
                    font-size: 1.8rem;
                }

                @include mq(xl) {
                    font-size: 2.15rem;
                }
                
                @include mq(xxl) {
                    font-size: 2.5rem;
                }
            }
        }

        &--scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: auto;

            p {
                margin: 10px;
                color: #50483d;
                font-size: 2rem;
            }

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #50483d;
                border-radius: 50%;
                height: 70px;
                width: 70px;

                &:hover {
                    background-color: #d92f0d;
                }

                i {
                    padding-bottom: 5px;
                    color: #fff6dd;
                    font-size: 3rem;
                }
            }
        }
    }
}


.spacer {
    flex:  1;
}