.hero {
    img {
        position: absolute;
        object-fit: cover;
        @include size(100%, 100%);
       
    }

    &__txt {
        @include flex(column);
        height: 85%;
        text-align: center;
        z-index: 2;
        margin: 30px;
        color: $text__color--hero;

        &--main {
            background-color: rgba(125, 117, 105, 0.7);
            backdrop-filter: blur(10px);
            padding: 30px;
            border-radius: 48px;
            box-shadow:  0 0 10px 7px rgba(125, 117, 105, 0.8);
            

            h1 {
                @include mq(lg) {
                    font-size: 3rem;
                }

                @include mq(xl) {
                    font-size: 4.25rem;
                }

                @include mq(xxl) {
                    font-size: 5.5rem;
                }
            }

            h2 {
                @include mq(lg) {
                    font-size: 1.8rem;
                }

                @include mq(xl) {
                    font-size: 2.15rem;
                }
                
                @include mq(xxl) {
                    font-size: 2.5rem;
                }
            }
        }

        &--scroll {
            @include flex(column, center);
            margin-bottom: 20px;

            p {
                margin: 10px;
                color: $image__hero--scroll;
                font-size: 2rem;
            }

            a {
                @include flex(null, center, center);
                @include size(70px, 70px);
                background-color: $image__hero--scroll;
                border-radius: 50%;

                &:hover {
                    background-color: $primary__color--red;
                }

                i {
                    padding-bottom: 8px;
                    color: $text__color--hero;
                    font-size: 3rem;
                }
            }
        }
    }
}

.spacer {
    flex:  1;
}