.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(10px, 1fr));
    grid-gap: 30px;
    position: relative; 
    align-items: stretch;
}

.project-card {
    @include flex(column);
    position: relative;
    
    &--future {
        opacity: 0.3;
    }

    .imgtag img {
        width: 100%;
        filter: sepia(0.7);
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        max-height: 230px;
    }

    &--2 {
        .imgtag img {
            filter: none;
        }
    }

    &--3 {
        .imgtag img {
            filter: sepia(0.9);
        }
    }
    

    .tag {
        position: absolute;
        right: 0;
        top: 2%;
        color: $primary__color;
        padding: 0 10px;
        text-transform: uppercase;
        border-radius: 2px 0 0 2px;
        font-size: 1rem;
        line-height: $base-line-height;
        z-index: 2;

        &--complete {
            background-color: $primary__color--red;
        }

        &--future {
            background-color: $primary__color--darkred;
        }
    }

    .content {
        padding: 20px;
        flex-grow: 1;
        @include flex(column, center, center);

        h2 {
            margin-top: 0;
        }

        span {
            font-size: 1.25rem;
        }
    }
}


.project_heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 0;
    color: $primary__color--dark
}

.project_description {
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: $primary__color--dark;
}

.flip {
    position: relative;

    .front,
    .back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    .front {
        transform: rotateY(0deg);
        @extend %light-container;
        height: 100%;
    }

    .back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
        @extend %dark-container;
        @include flex(column, center, center);
        gap: 30px;

        a {
            @extend %button;
        }
    }

    &:hover {

        .front {
            transform: rotateY(180deg);
        }

        .back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {

        .back {
            transform: rotateX(-180deg);
        }

        &:hover {

            .front {
                transform: rotateX(180deg);
            }

            .back {
                transform: rotateX(0deg);
            }
        }
    }
}