#sidebar {
    a {
        color: $primary__color;
        padding: 12px 16px;
        margin: 5px 0;
        border-radius: 10px;
        transition: background-color 0.4s ease;

        &:hover {
            background-color: $primary__color--lightred;
            
        }
    }

    .initials {
        @include flex(null, center, center);
        @include size(90px, 90px);
        margin: 20px;
        border-radius: 50%;
        border: 4px solid $primary__color--red;
        font-size: 3.5rem;

        &:hover {
            background-color: $primary__color--red;
        }
    }

    .list--bordered {
        border-top: 3px solid $primary__color--lightred;
        border-bottom: 3px solid $primary__color--lightred;
        @include spacing(25px, 25px);
        border-radius: 0;
    }

    .list--bordered:hover {
        border-radius: 10px;
    }
}

#menu {
    position: fixed;
    top: 20px;
    left: 0px;
    z-index: 20;
    background-color: $primary__color--darkred;
    @include flex(column, null, space-between);
    @include size(35px, 30px);
    padding: 17px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: left 0.6s ease;

    span {
        @include size(100%, 5px);
        background-color: $primary__color;
        transition: all 0.3s ease;
    }

    &.open {
        left: 200px;
        span {
            display: block;
            transform-origin: center center;

            &:nth-child(1) {
                transform: rotate(45deg) translate(9px, 9px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(9px, -9px);
            }
        }
    }

    @include mq(md) {
        display: none;
    }
}

#social-links {
    @include flex(null, center, center);
    
    a {
        padding: 10px 13px;

        &:hover {
            background-color: transparent;
        }

        .icon {
            font-size: 2rem;
        
            &-discord {
                font-size: 2.2rem;
            }
        }
    }

    .discord {
        margin-top: 4px;
    }
}

.icon {
    transition: color 0.4s ease;
    &-linkedin:hover {
        color: $linkedin;
    }
    &-github:hover {
        color: $github;
    }
    &-discord:hover {
        color: $discord;
    }
}