a, button, strong {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

strong a {
    color: $primary__color--dark;

    &:hover {
        color: $primary__color--red;
    }
}

